<% @title = 'Login' %>

<%= form_tag :action => "create" do%>
  <% if @login.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @login.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= hidden_field_tag "login[last_url]", @login.last_url %>
  <div class="<%= field_classes :name %>">
    <label for="name">User name:</label>
    <%= text_field_tag "name", @login.name, :name => "login[name]" %>
  </div>
  <div class="<%= field_classes :password %>">
    <label for="password">Password:</label>
    <%= password_field_tag "password", "", :name => "login[password]"%>
  </div>
  <div class="actions">
    <%= submit_tag "Log in" %>
  </div>
<% end %>
<% @links = [link_to 'Create Account', url_for(:new_account)] %>