<%= form_for(@client, :url => client_form_url(@client)) do |f| %>
  <% if @client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@client.errors.count, "error") %> prohibited this client from being saved:</h2>

      <ul>
      <% @client.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.hidden_field :event_id %>
  <div class="field">
    <%= f.label :legal_name %>
    <%= f.text_field :legal_name %>
  </div>
  <div class="field">
    <%= f.label :address_1, 'Address' %>
    <%= f.text_field :address_1 %> <span class="comment">(fit in two lines only)</span><br/>
    <span class="second_line"><%= f.text_field :address_2 %></span>
  </div>
  <div class="field">
    <%= f.label :branch_name %>
    <%= f.text_field :branch_name %>
    <span class="comment">(local SCA group)</span>
  </div>
  <div class="field">
    <%= f.label :kingdom %>
    <%= pdf_select f, :kingdom, Form.create(:type => :name)%>
  </div>
  <div class="field">
    <%= f.label :gender %>
    <%= pdf_select f, :gender, Form.create(:type => :name) %>
  </div>
  <div class="field">
    <%= f.label :phone_number %>
    <%= f.phone_field :phone_number %>
  </div>
  <div class="field">
    <%= f.label :birth_date %>
    <%= f.text_field :birth_date %>
  </div>
  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
