<div class="client-info">
<p>
  <b>Legal name:</b>
  <%= @client.legal_name %>
</p>

<p>
  <b>Address:</b>
  <%= @client.address_1 %><br/>
  <%= @client.address_2 %>
</p>

<p>
  <b>Branch name:</b>
  <%= @client.branch_name %>
</p>

<p>
  <b>Kingdom:</b>
  <%= @client.kingdom %>
</p>

<p>
  <b>Gender of submitter:</b>
  <%= @client.gender %>
</p>

<p>
  <b>Phone number:</b>
  <%= @client.phone_number %>
</p>

<p>
  <b>Birth date:</b>
  <%= @client.birth_date %>
</p>

<p>
  <b>Email:</b>
  <%= @client.email %>
</p>