<p id="notice"><%= notice %></p>
<% @title = @client.display_name %>
<div class="form-info">

<% if @client.has_forms? %>
<table class="form-table">
  <caption>Forms</caption>
  <thead>
    <th>Type</th>
    <th>Name</th>
    <th>Options</th>
  </thead>
  <tbody>
    <% @client.forms.each do |f| %>
    <tr>
      <td class="<%= needs_review_class(f) %>"><%= f.type_name %></td>
      <td><%= f.client.society_name %> </td>
      <td><%= link_to 'Show', form_path(f) %>
          <%= link_to 'Print', form_path(f, :format => 'pdf') %> 
          <%= link_to 'Edit', edit_form_path(f) %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<%= render(:partial => 'forms/types',
           :locals => { :event => @event,
                        :client => @client }) %>
</div>

<%= render 'show' %>


</div>



<% @links = [link_to('Edit', edit_client_path(@client)),
             link_to('Back to client list', @client.event)]
%>

