<% if (@events_for)
     @title = "Events for #{@events_for.name}"
   else
     @title = "All Events"
   end
%>
<table>
  <tr>
    <th>Title</th>
    <th>Account</th>
    <th></th>
    <% if @account.admin? %>
    <th></th>
    <th></th>
    <% end %>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%= event.title %></td>
    <td><%= event.account.name %></td>
    <td><%= link_to 'Show', event %></td>
    <% if @account.admin? %>
    <td><%= link_to 'Edit', edit_event_path(event) %></td>
    <td><%= link_to 'Destroy', event, :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<% @links = []
   @links << link_to('New Event', new_event_path) if @account.admin?
%>
