<% if (@events_for)
     @title = "Events for #{@events_for.name}"
   else
     @title = "All Events"
   end
%>
<table>
  <tr>
    <th>Title</th>
    <% unless @events_for %>
      <th>Accounts</th>
    <% end %>
    <th colspan="<%= Client.scopes.size %>"></th>
    <% if @account.admin? %>
    <th></th>
    <% end %>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%= event.current?  ? '*' : ''%>
    	<%= event.title %></td>
    <% unless @events_for %>
      <td><%= account_names(event) %></td>
    <% end%>
    <% Client.scopes.each_pair do |scope, descr| %>
      <td> <%= link_to descr, event_path(event, :scope => scope) %> </td>
    <% end %>
    <% if @account.admin? %>
    <td><%= link_to 'Edit', edit_event_path(event) %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= form_tag("/events/current", :method => :put) do |f|%>
  <%= label_tag "event_id", "Current Event"%>
  <%= select_tag "event_id", current_event_options(@events)%>
  <%= submit_tag "Update"%>
<% end%>
<% @links = []
   @links << link_to('New Event', new_event_path) if @account.admin?
%>
