<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @event.title %>
</p>

<table>
  <thead>
    <tr>
      <th>Society name</th>
      <th>Legal name</th>
      <th>Forms</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <% @event.clients.each do |client| %>
      <tr>
        <td><%= client.society_name %> </td>
	<td><%= client.legal_name %></td>
	<td><ul class="form_list">
              <% client.forms.each do |cl_form| %>
              <li><%=link_to cl_form.type, edit_form_path(cl_form) %></li>
              <% end %>
              <li><%= render(:partial => 'forms/types',
                             :locals => { :client => client,
                                          :types => @types }) %></li>
            </ul>
            
        </td>
        <td><%=link_to 'Show', client %></td>
        <td><%=link_to 'Edit', edit_client_path(client) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if @account.admin? %>
<p>
  <b>Account:</b>
  <%= link_to @event.account.name, @event.account %>
</p>
<% end %>

<p><%= link_to 'New Client', new_client_path(:id => @event.id) %></p>
<p><%= link_to 'Back', events_path %></p>
