<% @title = "#{@event.title} Clients" %>
<h2><%= current_scope %></h2>
<p id="notice"><%= notice %></p>
<p><%= link_to 'New Client', new_event_client_path(:event_id => @event) %></p>
<table>
  <thead>
    <tr>
      <th>Society name</th>
      <th>Legal name</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
      <th>Forms</th>
    </tr>
  </thead>
  <tbody>
    <% Client.send(@scope, @event.id).includes(:forms).sort_by(&:legal_name).each do |client| %>
      <tr>
        <td class="<%= client_needs_review_class(client)%>"><%= client.society_name %> </td>
	<td><%= client.legal_name %></td>
        <td><%=link_to 'Show', event_client_path(client, :event_id => @event) %></td>
        <td><%=link_to 'Edit', edit_event_client_path(client, :event_id => @event) %></td>
	<td><ul class="form_list">
              <% client.forms.each do |cl_form| %>
              <li><%=link_to cl_form.type_name, event_client_form_path(cl_form, :event_id => @event, :client_id => client), :class => needs_review_class(cl_form) %></li>
              <% end %>
              <li><%= render(:partial => 'forms/types',
                             :locals => { :event => @event,
                                          :client => client,
                                          :types => @types }) %></li>
            </ul>
            
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%
  @links = [link_to('New Client', new_event_client_path(:event_id => @event)),
            link_to('Back', events_path)]
  Client.scope_names.each_pair do |scope, descr|
    @links << link_to(descr, event_path(@event, :scope => scope))
  end
%>
