<%= form_for(@form, :as => :form, :url => form_form_path(@form),
             :html => { :multipart => true }) do |f| %>
  <% if @form.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@form.errors.count, "error") %> prohibited this form from being saved:</h2>

      <ul>
      <% @form.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :type %>
  <%= f.hidden_field :client_id %>
  <div class="field">
    <%= f.label :name_type, name_type_name(@form) %>
    <%= pdf_select f, :name_type %>
    <% if @form.has_other_name_type? %>
      <%= f.label :name_type_other, '(if other)', :class => 'additional' %>
      <%= f.text_field :name_type_other %>
    <% elsif @form.has_previous_kingdom? %>
      <%= f.label :previous_kingdom, 'in kingdom', :class => 'additional' %>
      <%= f.text_field :previous_kingdom %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :full_action_type, 'Action type' %>
    <%= f.collection_select :full_action_type, @form.action_type_options, :first, :last %>
    <% other_classes = ['additional'] %>
    <% if @form.has_badge_list? %>
       <%= f.label :release1, '(badges to release)', :class => 'additional' %>
       <%= f.text_field :release1 %>
       <%= f.text_field :release2 %>
       <% other_classes << 'second_line' %>
       <br/>
    <% end %>
    <%= f.label :action_type_other, '(if other)', :class => other_classes %>
    <%= f.text_field :action_type_other, :size => 20 %>
  </div>
  <div class="field">
    <%= f.label :herald %>
    <%= f.text_field :herald %>
  </div>
  <div class="field">
    <%= f.label :heralds_email, "Herald's Contact" %>
    <%= f.text_field :heralds_email %>
  </div>
  <div class="field">
    <%= f.label :date_submitted %>
    <%= f.date_select :date_submitted %>
  </div>
  <%= render "#{@form.class.label.to_s}_form", :f => f %>

  <div class="field">
    <%= f.label :needs_review, 'Needs Review' %>
    <%= f.check_box :needs_review %> (check if help is needed to finish form)
  </div>

  <div class="actions">
    <%= f.submit "Save" %>
  </div>
<% end %>

<% @links = [link_to 'Back', event_client_path(@client, :event_id => @event)] %>
