
  <div class="field">
    <%= f.label :submitted_name, "Name being submitted (if not primary name)" %>
    <%= f.text_field :submitted_name %>
    (if not society name)
  </div>

  <div class="field">
    <%= f.label :documentation %>
    <%= f.text_area :documentation, :rows => 9, :cols => 64 %>
  </div>

  <div class="field">
    <%= f.label :doc_upload, 'Additional docs' %>
    <%= f.file_field :doc_upload, :accept => 'application/pdf' %> (PDF only)
  </div>

  <div class="field">
    <%= f.label :authentic_text, 'Authentic for' %>
    <%= f.text_field :authentic_text %>
    <%= pdf_select f, :authentic_flags %>
  </div>

  <div class="field">
    <%= f.label :allowed_changes %>
    <%= f.collection_select :allowed_changes, allowed_changes_select, :first, :last %>
  </div>

  <div class="field">
    <%= f.label :preferred_changes_type, 'If changed, care most about' %>
    <%= pdf_select f, :preferred_changes_type %>,
    <%= f.label :preferred_changes_text, 'Notes', :class => 'additional' %>
    <%= f.text_field :preferred_changes_text %>
  </div>

  <div class="field label_after">
    <%= f.check_box :no_holding_name_flag %>
    <%= f.label :no_holding_name_flag, 'Do not allow a holding name', :class => 'additional' %>
  </div>

  <div class="field">
    <span class="label_prefix">Previous history</span>
    <%= f.label :previous_name, "Name", :class => 'additional' %>
    <%= f.text_field :previous_name %>
    <%= f.label :previous_kingdom, "Kingdom", :class => 'additional' %>
    <%= f.collection_select :previous_kingdom,  pdf_collection(:kingdom, @form.pdf), :first, :last %>
    <%= f.label :original_returned, "Returned", :class => 'additional' %>
    <%= f.text_field :original_returned %>
  </div>

  <div class="field">
    <%= f.label :gender_name, 'Gender of Name' %>
    <%= pdf_select f, :gender_name %>
  </div>

