
  <div class="field">
    <%= f.label :action_sub_type %>
    <%= f.text_field :action_sub_type %>
  </div>
  <div class="field">
    <%= f.label :herald %>
    <%= f.text_field :herald %>
  </div>
  <div class="field">
    <%= f.label :heralds_email %>
    <%= f.text_field :heralds_email %>
  </div>
  <div class="field">
    <%= f.label :client_id %>
    <%= f.text_field :client_id %>
  </div>
