<% @title = "Print #{@form.class.display_name} form for #{@client.display_name}" %>

<%= form_tag(print_form_path(@form), :method => 'post') do %>
  <%= hidden_field_tag 'home', @home %>
<% if @print_info.has_printers? %>
<p><%= radio_button_tag 'print_action', 'print', true%>
  <% if @print_info.has_singleton_printer? %>
    Send to printer <%= @print_info.single_printer_name %>
    <%= hidden_field_tag 'printer', @print_info.single_printer_id %>
  <% else %>
    <%= label_tag("printer", "Send to printer:") %>
    <%= select_tag "printer", options_for_select(@print_info.printer_pairs) %> 
  <% end %>
</p>
<% end %>
<p><%= radio_button_tag 'print_action', 'download', !@print_info.has_printers? %>
  <%= label_tag('print_action', 'Download as PDF') %>
</p>
<p><%= submit_tag "Print" %></p>
<% end %>
<% @links = [link_to('Show', form_path(@form))] %>
