<% @title = "#{@form.type_name} form for #{@client.society_name}" %>

<p id="notice"><%= notice %></p>

<% if @form.needs_review %>
  <p id="notice">This form is marked for review</p>
<% end %>

<p>
  <b><%= name_type_name(@form)%>:</b>
  <%= @form.name_type %><%= ", #{@form.name_type_other}" unless @form.name_type_other.blank? %>
</p>
<p>
  <b>Action type:</b>
  <%= @form.full_action_type_display %><%= ", #{@form.action_type_other}" unless @form.action_type_other.blank? %>
</p>

<p>
  <b>Herald:</b>
  <%= @form.herald %>
</p>

<p>
  <b>Herald's contact:</b>
  <%= @form.heralds_email %>
</p>

<p>
  <b>Date submitted: </b>
  <%= @form.date_submitted %>
</p>

<%= render "show_#{@form.class.label}" %>

<p>
  <b>Notes:</b>
  <%= @form.notes %>
</p>

<p>
  <b>Needs Review:</b>
  <%= @form.needs_review %>
</p>

<p>
  <b>Printed:</b>
  <%= @form.printed %>
</p>

<% if @account.has_role?(:senior) || @account.has_role?(:clerk) -%>

<%= form_tag(:controller => :forms, :id => @form.id, :event_id => @event, 
         :client_id => @client, :action => :destroy) -%>
  <%= submit_tag "Delete", :confirm=> "Are you certain you want to delete this form?"%>
  <%= hidden_field_tag "_method", "DELETE"%>
<% end -%>

<% @links = [link_to('Edit', edit_form_path(@form)),
             link_to('Print', print_form_path(@form)),
             link_to('Back', event_client_path(@client, :event_id => @event))]
%>
