<% @title = "#{@form.type_name} form for #{@client.society_name}" %>

<p id="notice"><%= notice %></p>

<% if @form.needs_review %>
  <p id="notice">This form is marked for review</p>
<% end %>

<p>
  <b><%= submission_type_name(@form)%>:</b>
  <%= @form.submission_type %><%= ", #{@form.submission_type_other}" if @form.submission_type_other and not @form.submission_type_other.empty? %>
</p>
<p>
  <b>Action type:</b>
  <%= @form.full_action_type_display %><%= ", #{@form.action_type_other}" if @form.action_type_other and not @form.action_type_other.empty? %>
</p>

<p>
  <b>Herald:</b>
  <%= @form.herald %>
</p>

<p>
  <b>Herald's contact:</b>
  <%= @form.heralds_email %>
</p>

<p>
  <b>Date submitted: </b>
  <%= @form.date_submitted %>
</p>

<%= render "show_#{@form.class.label}" %>

<% @links = [link_to('Edit', edit_form_path(@form)),
             link_to('Print', form_path(@form, :format => 'pdf')),
            link_to('Back', event_client_path(@client, :event_id => @event))] %>
