<%= form_for(@account) do |f| %>
  <% if @account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@account.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
      <% @account.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <% if @account.instance_of?(NamedAccount)%>
  <div class="field">
    <%= f.label :sca_name %><br />
    <%= f.text_field :sca_name, :length => 45 %>
  </div>
  <div class="field">
    <%= f.label :contact_info, "Contact information" %><span class="comment">(e-mail or phone)</span><br />
    <%= f.text_field :contact_info %>
  </div>
  <% end %>
  <% if account.can_modify_other_accounts do %>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="field">
    Roles: <br/>
    
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
