<% @title = 'All accounts' %>

<%= form_tag do |f| %>
<table>
  <tr>
    <th>Name</th>
    <th>SCA Name</th>
    <th>Contact Info</th>
    <th>Roles</th>
    <th></th>
    <th></th>
    <th></th>
    <% if @account.can_edit_account_roles? -%>
      <th></th>
    <% end -%>
  </tr>

<% @accounts.each do |account| %>
  <tr>
    <td><%= account.name %></td>
    <td><%= account.sca_name%></td>
    <td><%= account.contact_info%></td>
    <td><%= account.roles.map(&:name).join(', ') %></td>
    <td><%= link_to 'Events', events_url(:id => account.id) %></td>
    <td><%= link_to 'Show', account %></td>
    <td>
      <% if can_edit_account?(account) -%>
        <%= link_to 'Edit', edit_account_path(account) %>
      <% else -%>
        <td>&nbsp;</td>
      <% end -%>
    </td>
    <% if @account.can_edit_account_roles? -%>
      <td><%= link_to 'Edit Roles', roles_account_path(account) %></td>
    <% end -%>
  </tr>
<% end %>
</table>
<% end %>

<% @links = [link_to 'New Account', new_account_path] %>
